<%= render "panda/core/shared/header", html_class: "h-full bg-gradient-to-br from-dark to-mid" %>
<div class="flex flex-col items-center justify-center min-h-screen px-4">
  <%= yield %>
</div>
<%= render "panda/core/shared/footer" %>
