<%= render Panda::Core::Shared::HeaderComponent.new(html_class: "", body_class: "bg-gradient-admin") %>
<%= render "panda/core/admin/shared/flash" %>
<div class="flex flex-col items-center justify-center min-h-screen px-4">
  <%= yield %>
</div>
<%= render Panda::Core::Shared::FooterComponent.new %>
