<div class="col-span-3 mt-5 rounded-lg shadow-md bg-gray-800 shadow-inherit/20">
  <% if heading_slot? %>
    <div class="flex text-base font-medium px-4 py-3 text-white">
      <%= heading_slot %>
    </div>
  <% end %>

  <div class="p-4 text-black bg-white rounded-b-lg">
    <% if body_slot? %>
      <%= body_slot %>
    <% end %>
  </div>
</div>
