<% if should_render? %>
  <% if @user.present? && time %>
    <%= render Panda::Core::Admin::UserDisplayComponent.new(
      user: @user,
      metadata: "#{time_ago_in_words(time)} ago"
    ) %>
  <% elsif @user.present? %>
    <%= render Panda::Core::Admin::UserDisplayComponent.new(
      user: @user,
      metadata: "Not published"
    ) %>
  <% elsif time %>
    <div class="text-black/60"><%= "#{time_ago_in_words(time)} ago" %></div>
  <% end %>
<% end %>
